# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
flutter_*.png
.pub/

# iOS related
ios/Flutter/.generated/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
Pods/
Podfile.lock
pubspec.lock
*.podspec
*.xcworkspace
DerivedData/
.xcworkspace
*.ipa
*.dSYM
.dSYM.zip

# Android related
*.gradle
*.settings/
.gradle/
local.properties
**/android/key.properties
**/android/app/google-services.json
**/android/app/*.keystore
app/build/
android/app/debug.keystore

# Web related
web/manifest.json
web/firebase-messaging-sw.js
.canvaskit/

# Linux related
linux/flutter/ephemeral/

# Windows related
windows/flutter/ephemeral/
windows/CMakeLists.txt

# macOS related
macos/Flutter/ephemeral/
macos/Pods/
macos/Podfile.lock

# Intellij related
.idea/
*.iml
*.ipr
*.iws

# VS Code related
.vscode/
*.code-workspace

# Miscellaneous
*.lock
*.log
*.tmp
*.temp
*.swp
*.DS_Store
*.bak
*.orig
*.un~
*.log
*.app

# Coverage
coverage/

# Environment variables
.env
.env.*
